<div class="dishes__list" *ngIf="dishes$ | async as dishes">
    <div class="dish__item" *ngFor="let dish of dishes">
        <img class="dish__img" src="{{dish.pictureUrl}}" alt="">
        <div class="dish__name">{{dish.name}}</div>
        <div class="dish__description">{{dish.description}}</div>
        <a class="dish__details" [routerLink]="['/dish-details', dish.id]">Details...</a>
    </div>
</div>
            <!--
                <span class="dish__ingredient" *ngFor="let ingredient of dish.ingredients; let isLast = last">
                    {{ingredient.name}}
                    <span *ngIf="!isLast">, </span>
                </span>
            -->